extends layout

block content

  div.ini-box
    h1 Cadastro de Produtos de Informática
    a.pure-button.pure-button-secondary.margin-3(href="/login") Login
    a.pure-button.pure-button-secondary(href="/produtos") Ver Produtos
